footer {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: #111e38;
}


.footer-logo img {
    width: 150px;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer-social li a {
    margin: 15px;
    color: #fcb212;
    text-decoration: none;
}